.middle{
    width: 100%;
    height: 650px;
    /* background-color: red; */
    text-align: center;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;

}

.middle h1{
    font-weight: bolder;
    margin-top: 50px;
    font-size: 45px;
}

.middle p{
    margin-top: 20px;
    font-size: 20px;
}

.container{
    width: 80%;
    height: 40%;
    /* background-color: yellow; */
    margin: auto;
    margin-right: 160px;
    margin-top: 60px;
}

.container .box{
    width: 30%;
    height: 100%;
    background-color: rgb(43,204,145);
    float: left;
    margin-left: 3.33%;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    text-overflow: hidden;
    padding: 10px;
}

.box h2{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: normal;
    margin-top: 20px;
    font: 42px;
    line-height: 35px;
    color: white;
}

.box p{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 18px;
    font-weight: lighter;
    margin-top: 20px;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.middle .buy{
    margin-top: 100px;
    margin-left: -10px;
}

.middle .buy ul li a:hover{
    background-color: rgb(43,204,145);
    transition: 1s;
}